@model IEnumerable<UltimateSecuritySurvey.Models.AnswerOption>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.answerText)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.answerText)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "AnswerOption", new { id=item.questionId, number = item.answerNumber }, 
                                                                new { @class="tiny button secondary"})

            <a href="@Url.Action("Delete", "AnswerOption", new { id=item.questionId, number = item.answerNumber })" 
                class="tiny button secondary" title="Delete" data-reveal-id="deleteModal" data-reveal-ajax="true">Delete</a>
        </td>
    </tr>
}

</table>
