@{
    ViewBag.Title = "About application";
}

<h2>About</h2>
<p>Security Survey is an application to make Security Audits for small and middle size companies. 
   In our audits we follow National Security Auditing Criteria guidelines and questions. 
   Our Security Audits vary between 40 and 60 questions.</p>

<h3>How it works</h3>
<p>The students implement the Security Surveys in the companies. 
   Each survey is created by one teacher, implemented and pre-analyzed by a student and validated by a supervising teacher. 
   Supervising teacher selects one student for a survey. 
    The student visits the company, asks the questions and records the answers.</p>

<p>After the company has given all the answers for the survey the student analyzes 
    the questions and adds them to the system. When the student has done the analyses 
    for each question the student creates a Survey report for the company. 
    The supervising teacher validates the report before it is sent for the company.</p>

<h3>Haaga-Helia UAS</h3>
<p>
    University of Applied, located in Helsinki (Finland).
     Having 5 campuses, the institution has a wide range of degree programmes. 
    Unique and magnificent place to get a higher education nowadays. Haaga-Helia 
    is more than just an educational institution, it is place for innovations and new 
    business ideas. More than that the university also does many researches and provide 
    vocational teacher education. The Haaga-Helia gets active help from business 
    community and as a response it provides best professional who has no only academic, 
    but also practical expirience.  
</p>
