/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/*FORMS
    --------------------------------------------------------------*/
#center {
    position: absolute;
    width: inherit;
}

/*BLOCKS
    -----------------------------------------*/
.scrollable-small, .scrollable-medium, .scrollable-large{
    overflow-y: auto; 
    overflow-x: hidden;
}

.scrollable-small{
    max-height: 200px; 

}

.scrollable-medium{
    max-height: 500px; 
}

.scrollable-large{
    max-height: 1000px;
}

/*ICONS AND IMAGES*/
.iconHolder{
    width: 62px;
}

.black {
    color: #444444;
}

.size-12 { font-size: 12px; }
      
.size-14 { font-size: 14px; }
      
.size-16 { font-size: 16px; }
      
.size-18 { font-size: 18px; }
      
.size-21 { font-size: 21px; }
      
.size-24 { font-size: 24px; }
      
.size-36 { font-size: 36px; }
      
.size-48 { font-size: 48px; }
      
.size-60 { font-size: 60px; }
      
.size-72 { font-size: 72px; }

/*Tables*/
.ColumnWidth-28 {
    width: 28%
}

