@{
    ViewBag.Title = "Index";
    ViewBag.PageHeader = "Statistics";
}

<table>
    @foreach (var item in ViewBag.Stats as Dictionary<string, int>) 
    {
        <tr>
            <td>@item.Key</td>
            <th>@item.Value</th>
        </tr>  
    }
</table>

<table>
    <tr>
        <th>
            Supervisor Name
        </th>
        <th>
            Number of Surveys Supervising
        </th>
    </tr>
    @foreach (var survey in ViewBag.Surveys)
    {
        <tr>
            <td>
                @survey.Name
            </td>
            <td>
                @survey.MyCount
            </td>
        </tr>
    }
</table>
