@{
    ViewBag.Title = "Index";
    ViewBag.PageHeader = "Statistics";
}

<table>
    @foreach (var item in ViewBag.Stats as Dictionary<string, int>) 
    {
       <tr>
            <td>@item.Key</td>
            <th>@item.Value</th>
       </tr> 
    }
</table>
