@model UltimateSecuritySurvey.Models.FrontPageModel

@{
    ViewBag.Title = "Dashboard";
}

<div class="large-9 columns">
<h2>Dashboard</h2>

  @Html.Partial("InfoBox")

</div>
<hr />

<div class="large-9 columns">
    <fieldset>
        <legend>Surveys</legend>
        @Html.Partial("SurveyBox", Model.surveys)
    </fieldset>
</div>

<div class="large-4 columns">
    <fieldset>
        <legend>Customers</legend>
        @Html.Partial("CustomerBox", Model.customers)
    </fieldset>
</div>

<div class="large-4 columns">
    <fieldset>
        <legend>Users</legend>
        @Html.Partial("UserBox", Model.users)
    </fieldset>
</div>