@model UltimateSecuritySurvey.Models.FrontPageModel

@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<div class="sixteen columns">
    @Html.Partial("InfoBox")
</div>

<hr />
<div class="seven columns alpha">
    <fieldset>
        <legend>Questions</legend>
        @Html.Partial("QuestionBox", Model.questions)
    </fieldset>
</div>


<div class="seven columns omega offset-by-two">
    <fieldset>
        <legend>Categories</legend>
        @Html.Partial("CategoryBox", Model.categories)
    </fieldset>
</div>