@model UltimateSecuritySurvey.Models.FrontPageModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<fieldset>
    <legend>Questions</legend>
    @Html.Partial("QuestionBox", Model.questions)
</fieldset>

<fieldset>
    <legend>Categories</legend>
    @Html.Partial("CategoryBox", Model.categories)
</fieldset>
