
<h5>Security survey</h5>
<p>Educational project of Haaga-Helia students. 
    Web based applicational to make security audits in small and middle size companies.
    The application is aimed at being used in universities, which have security studies
    in their curriculum. The questions in audition are based on National Security Auditing 
    Criteria (KATAKRI) documentation. Main users of the system are university teachers and students. 
    That is the perfect possibility for student to study not a book
    examples and cases, but to get involved into real audit of real companies. With no doubts
    universities also should consider usage of that application, because firstly it provides 
    possibility for institutions to follow "learn by doing" approach as well as it is great 
    chance to enlarge list of university partners.
</p>