
<h4>Haaga-Helia UAS</h4>
<p>
    University of Applied, located in Helsinki (Finland).
     Having 5 campuses, the institution has a wide range of degree programmes. 
    Unique and magnificent place to get a higher education nowadays. Haaga-Helia 
    is more than just an educational institution, it is place for innovations and new 
    business ideas. More than that the university also does many researches and provide 
    vocational teacher education. The Haaga-Helia gets active help from business 
    community and as a response it provides best professional who has no only academic, 
    but also practical expirience.  
</p>

<h5>Security survey</h5>
<p>Educational project of Haaga-Helia students. 
    Web based applicational to make security audits in small and middle size compnies.
    The application is aimed at being used in universities, which have security studies
    in their curriculum. The questions in audition are based on National Security Auditing 
    Criteria (KATAKRI) documentation. Main users of the system are university teachers and students. 
    That is the perfect possibility for student to study not a book
    examples and cases, but to get involved into real audit of real companies. With no doubts
    universities also should consider usage of that application, because firstly it provides 
    possibility for institutions to follow "learn by doing" approach as well as it is great 
    chance to enlarge list of university partners.
</p>